# Dependency directories
node_modules/

# Local environment variables containing private passwords/credentials
.env

# Local upload folders
public/uploads/tmp/*
!public/uploads/tmp/.gitkeep
public/uploads/profilepictures/*
!public/uploads/profilepictures/.gitkeep

# System and logs files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.system_generated/
*.log
